
<style>
.font_style{
    color : #0f8501;
    font-size : 100px;
    {% comment %} display:block; {% endcomment %}
    {% comment %} float : left; {% endcomment %}
    margin-top : 260px;
    position:absolute;
    margin-left :587px;
    text-shadow: makeLongShadow(hsl(152deg, 46%, 40%));
    -webkit-box-reflect: below -287px -webkit-linear-gradient(transparent,transparent 40%,rgba(255,255,255,.3));
    {% comment %} -webkit-box-reflect: below; {% endcomment %}
    font:bold 100px/1.231 georgia,sans-serif;
    {% comment %} text-transform:uppercase; {% endcomment %}
    offset:20%
}
.snow-container {
    position: absolute;
    height: 800px;
    width: 100%;
    max-width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2;
    pointer-events: none;
    {% comment %} background-color: red; {% endcomment %}
  }
   
  .snow {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    -webkit-animation: snow linear infinite;
            animation: snow linear infinite;
  }
  .snow.foreground {
    background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
  }
  .snow.foreground.layered {
    -webkit-animation-delay: 7.5s;
            animation-delay: 7.5s;
  }
  .snow.middleground {
    background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png);
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
  }
  .snow.middleground.layered {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
  }
  .snow.background {
    background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png);
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
  }
  .snow.background.layered {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
  }
   
  @-webkit-keyframes snow {
    0% {
      -webkit-transform: translate3d(0, -100%, 0);
              transform: translate3d(0, -100%, 0);
    }
    100% {
      -webkit-transform: translate3d(15%, 100%, 0);
              transform: translate3d(15%, 100%, 0);
    }
  }
   
  @keyframes snow {
    0% {
      -webkit-transform: translate3d(0, -100%, 0);
              transform: translate3d(0, -100%, 0);
    }
    100% {
      -webkit-transform: translate3d(15%, 100%, 0);
              transform: translate3d(15%, 100%, 0);
    }
  }


</style>

<body style = "background-color : #11131ef2">
    <div>
        <div class="snow-container">
            <div class="snow foreground"></div>
            <div class="snow foreground layered"></div>
            <div class="snow middleground"></div>
            <div class="snow middleground layered"></div>
            <div class="snow background"></div>
            <div class="snow background layered"></div>
        </div>
        <a href = "https://yvjn3tvstd.execute-api.us-east-1.amazonaws.com/">
            <div class = "font_style">
                <h5>Merrry Christmas<h5>
            </div>
            <div class = "font_style">
                <h5 style ="color: #f31313;margin-left:5px"} >Merrry Christmas<h5>
            </div>
        </a>
    </div>
</body>